@model dynamic

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerylazy")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jsrender")
    @Scripts.Render("~/bundles/jdata")

</head>
<body>

    <div class="mheader">@{ Html.RenderAction("MainMenu", "catalog"); }</div>
    <div class="mcontent">
        <div class="fleft lmenu">

            @{ Html.RenderAction("CatalogMenu", "catalog"); }

        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div class="cl"></div>
    </div>

    <div id="tester1"></div>
    <div id="tester2"></div>

    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
